.register{
    padding: 0;
}
.header{
    border-bottom: 1px solid lightgray;
    width: 100%;
}
.header h3{
    font-weight: bold;
    font-size: 32px;
    color: black;
}
.header p{
    color: black;
}
.body{
    margin-top: 20px;
}
.body form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.body .user_name{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.body .user_name input,
.body .email_password input{
    flex: 1;
    outline: none;
    border:  1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    background-color: #f5f6f7;
}
.body .email_password{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.body p{
    font-size: 11px;
    margin-top: 20px;
    color: #777777;
}
.body .submit-button{
    padding: 10px 18px;
    background-color: #00a400;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 200px;
    align-self: center;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    letter-spacing: 1.1px;
    cursor: pointer;
}

